<%= form_with(model: pool) do |form| %>
  <% if pool.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pool.errors.count, "error") %> prohibited this pool from being saved:</h2>

      <ul>
        <% pool.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :team_id_1, style: "display: block" %>
    <%= form.number_field :team_id_1 %>
  </div>

  <div>
    <%= form.label :game_result_team_1_id, style: "display: block" %>
    <%= form.number_field :game_result_team_1_id %>
  </div>

  <div>
    <%= form.label :team_id_2, style: "display: block" %>
    <%= form.number_field :team_id_2 %>
  </div>

  <div>
    <%= form.label :game_result_team_2, style: "display: block" %>
    <%= form.number_field :game_result_team_2 %>
  </div>

  <div>
    <%= form.label :game_date, style: "display: block" %>
    <%= form.date_field :game_date %>
  </div>

  <div>
    <%= form.label :game_hour, style: "display: block" %>
    <%= form.time_field :game_hour %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
