<div id="<%= dom_id pool %>">
  <p>
    <strong>Team id 1:</strong>
    <%= pool.team_id_1 %>
  </p>

  <p>
    <strong>Game result team 1:</strong>
    <%= pool.game_result_team_1_id %>
  </p>

  <p>
    <strong>Team id 2:</strong>
    <%= pool.team_id_2 %>
  </p>

  <p>
    <strong>Game result team 2:</strong>
    <%= pool.game_result_team_2 %>
  </p>

  <p>
    <strong>Game date:</strong>
    <%= pool.game_date %>
  </p>

  <p>
    <strong>Game hour:</strong>
    <%= pool.game_hour %>
  </p>

</div>
